@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .heroButton{
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase tracking-widest text-xs text-gray-500 transition-all hover:border-[#74ABBA]/40 md:hover:text-xl
        
    }
}